<html>
<head>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="background">
    <div id="loginPanel">
      <table class="form-element">
        <tr class="form-row">
          <td class="form-group">
            <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email">
          </td>
          </tr>
          <tr class="form-row">
              <td class="form-group">
                <input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]="password">
              </td>
          </tr>
          <tr class="form-row">
              <td>
                <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
              </td>
          </tr>
        </table>
    </div>
  </div>
</body>
</html>